<% include ./partial/header %>


<div>
  <table class="table table-hover" id="table-data">
    <thead class="thead-light">
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Longitude</th>
        <th scope="col">Latitude</th>
        <th scope="col">Speed</th>
        <th scope="col">Course</th>
        <th scope="col">Image 1</th>
        <th scope="col">Image 2</th>
        <th scope="col">Image 3</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
    
<% include ./partial/footer %>