
    <script type="text/javascript" src="javascripts/index.js"></script>
    <script type="text/javascript" src="javascripts/upload.js"></script>
    <script type="text/javascript" src="javascripts/newselecteddb.js"></script>
    
    </body>
</html>