<div id="Modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <p id="modal-title-database" style="font-size: 18px;" class="modal-title">Database terdeteksi</p>
                <p>&nbsp; </p>
                <p id="direktori-lokasi" style="margin: 6px 0 0 0; font-size: smaller; color: tomato;">(lokasi direktori)</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body-database">
                <div class="list-group" id="list-usb-database">
                    <a href="#" class="list-group-item list-group-item-action">Tidak ada database terdeteksi</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>  
    </div>
</div>
    